html{
    background-color: #A8AE95;
}
.sectionHead{
    padding-left: 32px;
    padding-top: 32px;
}
.sectionHead2{
    padding-top:0px;
    padding-left:32px;
    padding-bottom: 0;
}
.colorContainer{
    display: inline-block;
    margin: 40px
}
.sectionContainer{
    background-color: FFFFFF;
    border-radius:10px;
    height:1100px;
    width:1152px;
}
.sectionContainer1{
    background-color:FFFFFF;
    border-radius:10px;
    height:1200;
    width:1152;
}
.sectionContainer2{
    background-color: FFFFFF;
    border-radius: 10px;
    height: 300px;
    width: 1152px;
}
.sectionContainer3{
    background-color: FFFFFF;
    border-radius: 10px;
    height: 1244px;
    width: 1152px;
}
.swatch{
    height: 144;
    width: 196;
    border: 1px black;
    border-radius: 10px;
}
.hexCode{
    padding: 15px;
    text-align: center;
    border-top: none;
    font-family: lato;
    font-size: 16px;
}
.typeContainer{
    display: inline-block;
    margin: 20px;
}
div {
    font-weight:bold;
}
.primaryGray{
    background-color: #282628;
}
.primaryWhite{
    background-color: #E8E8E8;
}
.secondaryPurple{
    background-color: #706271;
}
.secondaryGreen{
    background-color: #909482;
}
.accentPurple{
    background-color: #9F88A0;
}
.accentGreen{
    background-color: #A8AE95;
}
.hexCode1{
    padding:4px;
    text-align: center; 
    font-family: lato;
    font-size: 16px;

}
.swatch1{
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 10px;
    padding: 8px 8px 8px 12px
}
.black{
    background-color: #1D1D1D
}
.gray1{
    background-color: #333333;
}
.gray2{
    background-color: #BDBDBD;
}
.gray3{
    background-color: #E0E0E0;
}
.white{
    background-color: #F8F8F8;
}

/* Clear floats after the columns */
.row{
    content:"";
    clear: both;
    padding: 20px 20px 20px 20px;
}
.column{
    float: left;
    padding-left: 32;
    width: 30%;
    font-size: 24px;
    font-family: Barlow;
    padding-top: 10px;
    font-style: medium;
}
h1{
font-size:48px;
font-weight: bold;
font-family: Barlow;
}
h2{
    font-size:40px;
    font-weight:bold;
    font-family: Barlow;
}
h3{
    font-size:  32px;
    font-weight:bold;
    font-family: Barlow;
}
.size{
    font-size: 48px;
    font-style: bold;
    font-family: Barlow;
    padding-top: 10px;
}
.size2{
    font-size: 40px;
    font-style: bold;
    font-family:Barlow;
}
.size3{
    font-size: 32px;
    font-style: bold;
    font-family: Barlow;
}
.size4{
    font-size: 28;
    font-style: bold;
    font-family: Barlow;
}
.size5{
    font-size:24px;
    font-style:bold;
    font-family:Barlow;
}
.size6{
    font-size:20px;
    font-style:normal;
    font-family:Barlow;
}
.size7{
    font-size: 24px;
    font-family: lato;
    font-style: bold;
}
.size8{
    font-size: 24px;
    font-family: lato;
    font-style: normal;
    padding:10px 0px 0px 32px;
}
.size9{
    font-size: 20px;
    font-family: lato;
    font-weight: bold;
}
.size10{
    font-size: 20px;
    font-family: lato;
    font-style: normal;
    padding:10px 0px 0px 32px;
}
.size11{
    font-size: 16px;
    font-family: lato;
    font-style: bold;
}
.size12{
    font-size: 16px;
    font-family: lato;
    font-style: normal;
    padding:5px 0px 0px 32px;
}
.size13{
    font-size:14px;
    font-family: lato;
    font-style: bold;
}
.size14{
    font-size: 14px;
    font-family: lato;
    font-style: normal;
    padding:5px 0px 0px 32px;
}
.bodyText {
    padding-top: 20px;
}
#pageTopic{
    font-size: 52px;
}
.buttonRules{
    position: absolute;
    width: 368px;
    height: 112px;
    border: 1px black;
    background-color: ;

}